//- doctype html
//- html(lang="en" dir="ltr")
//-   head
//-     meta(charset="utf-8")
//-     title Daily Journal
//-     meta(charset="utf-8")
//-     link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
//-     link(rel="stylesheet" href="/css/styles.css")
//-     nav.navbar.navbar-default
//-       .container
//-         .navbar-header
//-           p.navbar-brand DAILY JOURNAL
//-         ul.nav.navbar-nav.navbar-right
//-           // 6
//-           li#home
//-             a(href="#") HOME
//-           li#about
//-             a(href="#") ABOUT US
//-           li#contact
//-             a(href="#") CONTACT US
//-   body
//-     .container
doctype html
html
  head
    title Daily Journal
    block style
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    style
      include ..\static\styles.css
      
  body
    nav.navbar.navbar-expand-lg.navbar-primary
      a.navbar-brand(href="/") DAILY JOURNAL
      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      #navbarNavAltMarkup.collapse.navbar-collapse
        .navbar-nav
          ul.nav.navbar-nav.navbar-right
            //- li #[a(href="/") Home]
            li #[a.nav-link.active(href="/") HOME] 
            li #[a.nav-link(href="/about") ABOUT US]
            li #[a.nav-link(href="/contact") CONTACT US]
    //- block content
    
